In [4]:
#importing keywords there are total 33 keywords in python.
import keyword


print (keyword.kwlist)
print('\n Total number of keywords ' , len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

total number of keywords 33

In [5]:
#variables assignments. variable cannot start with digit
abc_12 = 'nikhil'
print(abc_12)

nikhil

In [47]:
# print first 10 numbers.
for i in range(10):
    print(i);

0
1
2
3
4
5
6
7
8
9

In [48]:
# for loop and identation
for i in range(10):
    print(i);
    print(i**2);
print(100);

0
0
1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81
100

In [10]:
#if statement
if True:
    print('machine learning')
    c = 'aaic';

machine learning

In [17]:
a = 10 ; b =20 ; c= 30;
print(a)
print(c)

10
30

In [18]:
print(type(a))

<class 'int'>

In [19]:
#string type
a = 'ai'
print(type(a))

<class 'str'>

In [20]:
a = 12
print(id(a))

1889627552

In [21]:
#print id of the location where the value is stored
a = 14
print(id(a))

1889627616

In [24]:
#integer type
a = 15
print(a, 'is of type ' , type(a))

15 is of type  <class 'int'>

In [27]:
a = 1+2j
print(type(a))
print(isinstance(1+2j , complex)) #in instance is to check boolean values

<class 'complex'>
True

In [29]:
#boolean value
a = True
print(type(a))

<class 'bool'>

In [30]:
#boolean value
b = False
print(type(b))

<class 'bool'>

In [34]:
#printing type of s 
s = '''this is an online ai course'''
print(s)
print(type(s))

this is an online ai course
<class 'str'>

In [38]:
#printing index from last 
print(s[-3])

r

In [42]:
#slicing

s[12:] print everything after index 12 ownwards.

'nline ai course'

In [43]:
#lists are mutable and are ordered elements . 
# list is a data structure. #lists are created with square brackets.
a = [14 , 15 , 'nikhil']
print(type(a))

<class 'list'>

In [46]:
#changing index 1 to 30.7(float)
a [1] = 30.7
print(type(a))
print (a)

<class 'list'>
[14, 30.7, 'nikhil']

In [50]:
#tuples are enclosed in parenthesis and are immutable.
#tuples are an another data structures in python.
t = (1, 1.5, 'string')
print (t)

(1, 1.5, 'string')

In [52]:
# sets are declared in curly braces
#sets only stored unique values
#sets are unordered we cant access one particular element 
s = {10, 20 ,30 , 40}
print(type(s))
print (s)

<class 'set'>
{40, 10, 20, 30}

In [56]:
#dictionaries are like hashtables. 
# they are unordered with key and value. 
# a is the key and apple is the value.
d = {'a' : 'apple', 'b':'mango' , 'c' : 'tomatoes'}
print(d['c'])

tomatoes

In [57]:
#convert datatypes

float(5)

5.0

In [58]:
int(5.0)

5

In [60]:
str(20)

'20'

In [64]:
#concatenate strings

user = 'satish'
lines = 100
print('congratulations' + user + ' you just write ' + str (lines) + ' lines of code')

congratulationssatish you just write 100 lines of code

In [66]:
a = (1,2,3)

s = set(a)
print(type(s))

<class 'set'>

In [67]:
list('hello') #convert list to string

['h', 'e', 'l', 'l', 'o']

In [69]:
a = 10;
b = "the value of a is " +str(a)
print(b)

the value of a is 10

In [77]:
#output formatting
a = 10;
b = 20;
print("the value of a is {} and b is {} " .format(a , b))
print("the value of a is {1} and b is {0} ".format(a,b))

the value of a is 10 and b is 20
the value of a is 20 and b is 10

In [79]:
print("hello {name} , {greetings}".format(name='nikhil',greetings ='good morning'))

hello nikhil , good morning

In [84]:
#input function
a = input( '\n enter a number')
print(a)

 enter a number50
50

In [87]:
10//2

5

In [90]:
a = 10
a *=10
print(a)

100

In [92]:
#identity operators
a = 5
b = 5
print(a is b)

True

In [104]:
a = [11,12,13]
b = [11,12,13]
print(a is b)

False

In [7]:
s1 = "nikhil"
s2 = "nikhil"
print(s1 is s2)

True

In [13]:
#membership operators #they only operate on keys not values.
d = {"sample" : 'apple' , 2 :'mango'}
print("sample" in d)

True

In [107]:
#ifelse statement
a = 10;
if(a<10):
    print('true');
else:
    print('false');

false

In [114]:
a = 20;
if a>30:
    print('positive')
elif a<=20:
        print('negative')
else:
    print('compute zero')

negative

In [4]:
#operators

a , b = True , False;

print( a or b )
print (a and b)

True
False

In [6]:
a = 10
a += 10
print(a)

20

In [21]:
# control flow statement 
# if-else statement.
a = 10;

if (a>20):
    print("True"); #python uses identation mainly 4 spaces.
else:
    print("False");
print("this will print always")

False
this will print always

In [22]:
# if-statements; 
num = 7.0;

if(num>10):
    print("Positive numbers");
print("Negative Numbers");

Negative Numbers

In [28]:
# in python zero , none and false are considered as false , everything will be considered as true or positive:
num = 10

if(num>100):
    print("positive");
elif num == 0:
    print("negative");
else:
    print("positive numbers")

positive numbers

In [37]:
#printing largest of the three number is:
num1 =  200
num2 = 30
num3 = 40
if(num1>num2) and (num1>num3):
    largest =num1
elif (num2>num1) and (num2>num3):
    largest =num2
else:
    largest=num3
print("largest of three number is {}".format(largest));

largest of three number is 200

In [10]:
# while loop in python:
while test expressions():
    body will get execute;

SyntaxError: invalid syntax (<ipython-input-10-0bf503abb57d>, line 2)

In [4]:
lst = [10 , 20 , 50 , 40 , 80]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1;
print("product is {}".format(product));

product is 32000000

In [17]:
# print list numbers
numbers = [1,2,3,4,5]
index = 0 

while index < len(numbers):
    print(numbers[index])
    index += 1;
else:
    print ("no items left")

1
2
3
4
5
no items left

In [16]:
lst = [10,20,30,40,50]
print (len(lst));

5

In [20]:
#number is even or odd
n = int(input("enter a number"))

if n%2==0:
    print("enter number is even")
else:
    print("enter number is odd")

enter a number3
enter number is odd

In [27]:
#product os all numbers

lst = [10,20,30]

product = 1;
for ele in lst:
    product = product * ele;

print("product is {}".format(product))

product is 6000

In [30]:
# range function in python , print till 19 

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [33]:
# print range with step size from 1 to 20 with a step size of 4

for i in range(0 , 20 , 5):
    print(i);

0
5
10
15

In [35]:
lst1 = ['nikhil','is','a','good','boy']

for index in lst1:
    print (index)

nikhil
is
a
good
boy

In [ ]:
lst1 = ['nikhil','is','a','good','boy']

for index in range (len(lst1)):
    print (lst1[index]);

In [3]:
# sum of n input integers

n = int(input("enter a number"))

if n == 0:  #boundary case.
    print(0)
else:
    numberString = input()
    s = numberString.split()
    
    sum =0;
    
    for ele in s:
        sum += int(ele)
    print (sum)

enter a number5
6 8
14

In [6]:
lst1 = [10,20,30,40,50,60]

for ele in lst1:
    print (ele)

10
20
30
40
50
60